*
tmux/local.tmux

# things I want to keep
!nvim/
!nvim/plugin/
!nvim/plugin/**/*
nvim/autoload/

!tmux/

!alacritty/
!latexmk/
!bin/
!racket/
!neofetch/

!README.md
!TODO.norg

# very confused as to why bat/config needs to be especially 'unignored' -- same with other directories, really strange
!bat/
!bat/config

!tree-sitter/config.json
